@model SchoolManagementSystem.Models.Teacher
@{
    ViewData["Title"] = "Teacher Details";
}
<h1>Teacher Details</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Qualification)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Qualification)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Specialization)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Specialization)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.JoinDate)
            </dt>
            <dd class="col-sm-8">
                @Model.JoinDate.ToString("yyyy-MM-dd")
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ProfilePicture)
            </dt>
            <dd class="col-sm-8">
                @if (!string.IsNullOrEmpty(Model.ProfilePicture))
                {
                    <img src="@Model.ProfilePicture" alt="Profile Picture" class="img-thumbnail" style="max-width: 150px;" />
                }
                else
                {
                    <span class="text-muted">No profile picture</span>
                }
            </dd>
        </dl>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
</div>